$media-query: 68rem;

.demo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.demo__item {
  display: inline-block;
  padding: $spacing;
  vertical-align: top;
  width: 28rem;
}

.demo__container {
  overflow: hidden;
  position: relative;
  width: 100%;

  .section:nth-child(even) & {
    background-color: $off-white;
    border: 1px solid transparent;
  }

  .section:nth-child(odd) & {
    background-color: $white;
    border: 1px solid transparent;
  }
}

.demo__iframe {
  border: 0;
  height: 14.5rem;
  width: 100%;
}

.demo__content {
  display: inline-block;
  font-size: 1rem;
  padding: $spacing;
}

.demo__content-badge {
  background-color: $off-black;
  left: 0;
  padding: ($spacing * .5) ($spacing * .5) ($spacing * .1);
  position: absolute;
  top: 0;
}

.demo__content-text {
  border-left: solid $gray 1px;
  margin-left: $spacing;
  padding-left: $spacing;
}
