.footer {
  background-color: $off-black;
  overflow: hidden;
}

.footer__content {
  color: $white;
  font-size: 1rem;
  font-weight: 300;
  margin: $spacing * 2;
  text-align: left;
}

.footer__logo {
  width: 198px;
}

.footer__list-link {
  color: $white;
  display: inline-block;
  opacity: .8;
  padding: ($spacing * .15) 0;

  &:focus,
  &:hover {
    color: $white;
    opacity: 1;
  }
}
