* {
  box-sizing: border-box;
  transition: all .2s ease-out;
}

body {
  background-color: $light-gray;
  color: $off-black;
  font-family: $body-font;
  font-size: 1.2rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-family: $heading-font;
  font-weight: 900;
}

a {
  color: $blue;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-line: underline;
  text-decoration-skip: ink;
  text-decoration-style: solid;

  &:focus,
  &:hover {
    color: $dark-blue;
  }
}

code {
  padding: 0 3px;
}

pre {
  margin: 0;
  overflow-x: auto;
  padding: $spacing;
  white-space: pre-line;
  word-break: break-word;
}

code,
pre {
  font-family: $code-font;

  .header & {
    background-color: none;
  }

  .section:nth-child(odd) .demo__content & {
    background-color: $off-white;
  }

  .section:nth-child(even) & {
    background-color: $off-white;
  }

  .section:nth-child(odd) & {
    background-color: $white;
  }
}

kbd {
  background-color: $off-white;
  border: solid $gray 1px;
  border-radius: 3px;
  font-family: $code-font;
  padding: 0 ($spacing * .5);
}
