$media-query: 68rem;

.heading {
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
}

.heading--2 {
  font-size: 2rem;
  margin: $spacing 0;

  @media (min-width: $media-query) {
    font-size: 2.5rem;
    letter-spacing: -2px;
    margin: $spacing 0 ($spacing * 2);
  }
}

.heading--3 {
  font-size: 1.5rem;
  margin: ($spacing * 2) 0 $spacing;

  @media (min-width: $media-query) {
    font-size: 1.75rem;
    margin: ($spacing * 2.5) 0 $spacing;
  }
}

.heading--4 {
  font-size: 1.25rem;

  @media (min-width: $media-query) {
    font-size: 1.4rem;
    margin: ($spacing * 2.5) 0 $spacing;
  }
}
