$media-query-1: 36rem;
$media-query-2: 68rem;
$media-query-3: 70rem;

.question {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;

  p {
    padding-bottom: $spacing * 2;
  }

  @media (min-width: $media-query-1) {
    font-size: 1.5rem;
  }

  @media (min-width: $media-query-3) {
    background-color: $transparent-black;
    bottom: 0;
    color: $white;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    p {
      padding-bottom: $spacing * 3;
    }
  }
}

.question__content {
  max-width: 52rem;
  padding: ($spacing * 3) $spacing ($spacing * 2);

  @media (min-width: $media-query-1) {
    padding: ($spacing * 3) ($spacing * 2) ($spacing * 2);
  }
}

.question__down-pointer {
  display: none;

  @media (min-width: $media-query-3) {
    bottom: 0;
    display: block;
    height: 5rem;
    left: 50%;
    margin-left: -($spacing * 1.4);
    position: absolute;
    width: 2.8rem;
  }
}

.question__down-pointer-content {
  animation: downPointer 3s ease-in-out 1s infinite;
}

@keyframes downPointer {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(0);
  }
}

.intro__content {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 $spacing;

  @media (min-width: $media-query-1) {
    padding: 0 ($spacing * 2);
  }

  p {
    font-size: 1.2rem;

    @media (min-width: $media-query-1) {
      font-size: 1.4rem;
    }
  }
}

.question__title,
.intro__title {
  margin: 0 0 ($spacing * 3);

  @media (min-width: $media-query-1) {
    font-size: 2.5rem;
    margin: ($spacing * .5) 0 ($spacing * 3);
  }
}

.question__title {
  line-height: 1;
}
