@mixin visuallyhidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin visullayunhidden {
  border: 0;
  clip-path: none;
  height: auto;
  margin: auto;
  overflow: auto;
  padding: unset;
  position: static;
  white-space: normal;
  width: auto;
}
