$media-query-1: 36rem;
$media-query-2: 68rem;
$media-query-3: 55rem;

.support__content {
  padding: 0 $spacing;

  @media (min-width: $media-query-1) {
    padding: 0 ($spacing * 2);
  }
}

.support__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: ($spacing * 2) 0 0;
  padding: 0;
}

.support__item {
  display: inline-block;
  padding: $spacing;
  width: 100%;

  @media (min-width: $media-query-3) {
    width: 21em;
  }

  @media (min-width: $media-query-2) {
    padding: $spacing ($spacing * 2);
  }
}

.support__title {
  display: block;
  font-weight: 700;
  margin: $spacing 0;
}
