$media-query: 38rem;

.features-table {
  border-collapse: collapse;
  width: 100%;

  .features-table__caption {
    font-weight: 900;
    margin: 0 0 ($spacing * 1.15);
  }

  thead {
    th {
      letter-spacing: -1px;
    }

    tr {
      background-color: $off-white;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: $off-white;
      }

      &:nth-child(odd) {
        background-color: $white;
      }
    }
  }

  th,
  td {
    border: solid $gray 1px;
    margin: 0;
    padding: $spacing * .5;
    width: 50%;

    @media (min-width: $media-query) {
      padding: 1rem;
    }
  }

  th {
    &[scope='row'] {
      font-weight: 400;

      @media (min-width: $media-query) {
        text-align: left;
      }
    }
  }

  &--browsers {
    margin-top: $spacing * 3;
    table-layout: fixed;
    th,
    td {
      width: auto;
    }
  }
}

.features-table__text {
  display: block;
  position: relative;
  top: 5px;

  @media (min-width: $media-query) {
    display: inline-block;
    margin-left: $spacing * .5;
    position: relative;
    top: -7px;
  }
}

.features-table__browser-text {
  @include visuallyhidden;

  @media (min-width: $media-query) {
    @include visullayunhidden;

    display: block;
    font-weight: 400;
  }
}
