// Colors
$black: #000;
$blue: #4169e1;
$dark-blue: #0000cd;
$dark-gray: #666;
$gray: #ccc;
$green: #228b22;
$light-gray: #eee;
$off-black: #222;
$off-white: #f8f8f8;
$red: #dc143c;
$transparent-black: rgba(34, 34, 34, .65);
$white: #fff;

// Sizing
$spacing: 1rem;
$header-height--small: $spacing * 4;
$header-height--medium: $spacing * 5;
$header-height--large: $spacing * 6;
