.btn {
  background-color: $blue;
  border-radius: 5px;
  border: 1px solid transparent;
  color: $white;
  display: inline-block;
  font-size: 1.2rem;
  padding: $spacing ($spacing * 1.5);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $white;
    background-color: $dark-blue;
  }

  &--full {
    text-align: center;
    width: 100%;
  }
}

.btn__text {
  position: relative;
  margin-left: $spacing * .25;
  top: -3px;
}
