$media-query-1: 25rem;
$media-query-2: 36rem;
$media-query-3: 68rem;
$media-query-4: 90rem;

.header {
  overflow: hidden;
  position: relative;
}

.header__content {
  background-color: $off-black;
  color: $white;
  position: relative;
  z-index: 2;
}

.header__logo {
  line-height: .75;
  margin: 0;
}

.header__logo-text {
  font-size: 1.5rem;
  position: relative;
  top: -5px;

  @media (min-width: $media-query-1) {
    font-size: 2rem;
  }
}

.header__logo-link {
  color: $white;
  text-decoration: none;
}

.header__logo-icon {
  height: 2rem;
  fill: $white;
}

.header__nav {
  display: none;

  @media (min-width: $media-query-3) {
    display: block;
  }
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  display: inline-block;
}

.header__nav-link {
  color: $white;
  display: inline-block;
  font-size: 1rem;
  opacity: .8;
  padding: $spacing ($spacing * .5);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $white;
    opacity: 1;

    .header__nav-link-text {
      border-bottom: solid $white 1px;
    }
  }
}

.header__nav-link-text {
  border-bottom: solid transparent 1px;
}
