// Fonts
$body-font: 'Roboto', sans-serif;
$logo-font: 'Shrikhand', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$code-font: 'Zilla Slab', sans-serif;

.logo-font {
  font-family: $logo-font;
  letter-spacing: -.5px;

  &--light {
    color: $white;
  }

  &--dark {
    color: $black;
  }
}
