$media-query: 70rem;

.container--video {
  background-color: $white;
  position: relative;

  @media (min-width: $media-query) {
    overflow: hidden;

    .lt-ie11 & {
      max-height: 100%;
    }

    @supports (display: flex) {
      max-height: calc(100vh - #{$header-height--large});
    }
  }
}

.video {
  background-color: $off-black;
  display: none;
  width: 100%;

  @media (min-width: $media-query) {
    display: block;
  }

  .lt-ie11 & {
    max-height: 100%;
  }
}
